@import "@nebular/theme/styles/global/breakpoints";
@import "../../../../themes";

.border-left {
  border-left: 1px solid #edf1f7;
}

.border-right {
  border-right: 1px solid #edf1f7;
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }

    h4 {
      color: #FFFFFF;
      margin: 0;
    }

    span {
      color: #FFFFFF;
      font-size: large;
      font-weight: 600;
    }

    button {
      color: #FFFFFF;
    }

    nb-icon {
      font-size: 1.75rem;
      color: #FFFFFF;
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }

    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.margin-header {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

::ng-deep nb-badge {
  font-size: 0.7em;
  min-width: 0.5em;
  top: 5px;
  right: 5px;
  transform: translate(10%, -60%);
  padding: 3px;
  margin: 1px;
}

::ng-deep nb-badge span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}