@import '../../themes';

// @include nb-install-component() {
//   ::ng-deep router-outlet+* {
//     display: block;
//     animation: fade 1s;

//     @keyframes fade {
//       from {
//         opacity: 0;
//       }

//       to {
//         opacity: 1;
//       }
//     }
//   }
// }

// @include nb-install-component() {
//   nb-card-body {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   nb-icon {
//     margin: 1rem;
//   }

//   nb-card-footer {
//     text-align: right;
//   }
// }

// ::ng-deep .menu-item::content nb-icon {
//   color: #000 !important;
// }

// nb-menu .menu-item a {
//   color: white !important;
//   transition: color 0.3s;
// }

// ::ng-deep .menu-item a:hover nb-icon {
//   color: green !important;
// }

// ::ng-deep .menu-item .nb-icon:after {
//   color: #3C40B0 !important;
// }

// ::ng-deep .menu-item::after nb-icon {
//   color: red !important;
// }

// nb-menu nb-icon {
//   color: white !important;
// }


@include nb-install-component() {
  ::ng-deep router-outlet+* {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

@include nb-install-component() {
  nb-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nb-icon {
    margin: 1rem;
  }

  nb-card-footer {
    text-align: right;
  }
}

.menu-sidebar ::ng-deep .menu-item .menu-items nb-icon:hover {
  // background: #ffffff;
  color: #002299;
  
}

.menu-sidebar ::ng-deep nb-menu ul li {
  border-bottom: none;
}

.menu-sidebar ::ng-deep .menu-item .menu-items a:hover {
  // background: #ffffff;
  border-radius: 5px;
  width: 500px;
}