<nb-card>
    <nb-card-header>
        Crear Certificado de Disponibilidad Presupuestal
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="cdpForm">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="objeto">Documento</label><br>
                    <input nbInput fullWidth type="number" formControlName="documento" required />
                </div>
                <div class="col-md-4">
                    <label class="label" for="objeto">Autorización</label><br>
                    <input nbInput fullWidth type="text" formControlName="autorizacion" required />
                </div>
                <div class="col-md-4">
                    <label class="label" for="name">Fecha</label><br>
                    <input nbInput fullWidth type="text" formControlName="fecha" name="cdp" required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <label class="label" for="res">Concepto</label><br>
                    <input nbInput fullWidth type="text" formControlName="concepto">
                    <!-- <nb-select fullWidth [(ngModel)]="user.res" name="res" required
                        (selectedChange)="onResChange($event)">
                        <nb-option *ngFor="let rubro of rubros" [value]="rubro.res">{{ rubro.res }}</nb-option>
                    </nb-select> -->
                </div>

                <div class="col-6">
                    <label class="label" for="rubro">RES</label><br>
                    <input nbInput fullWidth required readonly>
                    <!-- <nb-select fullWidth [(ngModel)]="user.rubro" name="rubro" required
                        (selectedChange)="onRubroChange($event)">
                        <nb-option *ngFor="let rubro of rubros" [value]="rubro.code">{{ rubro.code }}</nb-option>
                    </nb-select> -->
                </div>


            </div>

            <br>

            <div class="row">


                <div class="col">
                    <label class="label" for="nombrerubro">Código Rubro</label><br>
                    <input nbInput fullWidth required readonly>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    <label class="label" for="address">Nombre Rubro</label><br>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-6">
                    <label class="label" for="address">Valorres</label><br>
                    <input nbInput fullWidth type="number" required formControlName="valor"/>
                </div>

                <div class="col-2">
                    <label class="label" for="address">Valor letras</label><br>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-2">
                    <label class="label" for="address">No. proceso</label><br>
                    <input nbInput fullWidth type="text" required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <label class="label" for="address">Proyecto</label><br>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-3">
                    <label class="label" for="address">Fecha concepto jurídico</label>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-3">
                    <label class="label" for="address">Cédula</label>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-4">
                    <label class="label" for="tercero">Tercero</label>
                    <input nbInput fullWidth type="text" required />
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-6">
                    <label class="label" for="tipocontrato">Tipo Contrato</label>
                    <input nbInput fullWidth type="text" required />
                </div>

                <div class="col-6">
                    <label class="label" for="elaborado">Elaborado</label>
                    <input nbInput fullWidth type="text" required />
                </div>
            </div>
            <br>
            <div>
                <button nbButton type="submit" status="primary" style="float: right;" (click)="cdp()">Crear CDP</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>
        Solicitud CDP / Regular
    </nb-card-header>

    <nb-card-body>
        <!-- <form action="">
            <div class="row">
                <div class="col-2">
                    <label class="label" for="aut">Autorización</label>
                    <input nbInput fullWidth type="text" id="aut" [(ngModel)]="cdp.aut" name="aut" required />
                </div>
                <div class="col-10">
                    <label class="label" for="objeto">Objeto</label>
                    <input nbInput fullWidth type="text" id="objeto" [(ngModel)]="cdp.objeto" name="objeto" required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label class="label" for="elaborado">Fecha Autorización</label>
                    <input nbInput fullWidth type="text" id="elaborado" [(ngModel)]="cdp.fechaaut" name="elaborado"
                        required />
                </div>

                <div class="col-3">
                    <label class="label" for="res">Código RES</label>
                    <input nbInput fullWidth type="text" id="res" [(ngModel)]="cdp.res" name="res" required />
                </div>
                <div class="col-6">
                    <label class="label" for="rubro">Código Rubro</label>
                    <input nbInput fullWidth type="text" id="rubro" [(ngModel)]="cdp.rubro" name="rubro" required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label class="label" for="desrubro">Descripción Rubro</label>
                    <input nbInput fullWidth type="text" id="desrubro" [(ngModel)]="cdp.desrubro" name="desrubro"
                        required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label class="label" for="valor">Valor</label>
                    <input nbInput fullWidth type="text" id="valor" [(ngModel)]="cdp.valor" name="valor" required />
                </div>

                <div class="col-6">
                    <label class="label" for="valorletras">Valor en Letras</label>
                    <input nbInput fullWidth type="text" id="valorletras" [(ngModel)]="cdp.valorletras"
                        name="valorletras" required />
                </div>

                <div class="col-3">
                    <label class="label" for="codproyecto">Código Proyecto</label>
                    <input nbInput fullWidth type="text" id="codproyecto" [(ngModel)]="cdp.codproyecto"
                        name="codproyecto" required />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label class="label" for="nomproyecto">Nombre Proyecto</label>
                    <input nbInput fullWidth type="text" id="nomproyecto" [(ngModel)]="cdp.nomproyecto"
                        name="nomproyecto" required />
                </div>
            </div>
            <br>
            <div>
                <button nbButton type="submit" status="danger" style="float: right;">Generar
                    CDP</button>
            </div>
        </form> -->
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>
        Minuta
    </nb-card-header>

    <nb-card-body>
        <button nbButton status="primary">PDF</button>
    </nb-card-body>
</nb-card>