<nb-card>
    <nb-card-body>
        <form [formGroup]="test1Form">
            <nb-stepper orientation="horizontal">
                <nb-step [label]="labelOne">
                    <ng-template #labelOne>Información</ng-template>
                    <p>Test 1</p>
                    <h5>1. Información Personal</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label" for="">Cédula de Ciudadanía</label><span class="req"> *</span>
                            <input nbInput fullWidth formControlName="cc" type="text">
                        </div>
                        <div class="col-md-6">
                            <label class="label" for="">Nombres y apellidos</label><span class="req"> *</span>
                            <div class="form-group">
                                <input nbInput fullWidth formControlName="names" type="text">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label" for="">Título Académico</label><span class="req"> *</span>
                            <nb-select fullWidth formControlName="academicTitle">
                                <nb-option value="Bachillerato">Bachillerato</nb-option>
                                <nb-option value="Formación Técnica">Formación Técnica</nb-option>
                                <nb-option value="Formación Tecnológica">Formación Tecnológica</nb-option>
                                <nb-option value="Profesional ">Profesional</nb-option>
                                <nb-option value="Postgrado ">Postgrado</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-md-6">
                            <label class="label" for="">Complemente la información de su título académico</label><span
                                class="req"> *</span>
                            <input nbInput fullWidth formControlName="complement" type="text">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label" for="">Experiencia Laboral</label><span class="req"> *</span>
                            <nb-select fullWidth formControlName="experienceWork">
                                <nb-option value="De 0 a 6 meses">De 0 a 6 meses</nb-option>
                                <nb-option value="De 6 a 12 meses">De 6 a 12 meses</nb-option>
                                <nb-option value="De 12 a 24 meses">De 12 a 24 meses</nb-option>
                                <nb-option value="Más de 24 meses">Más de 24 meses</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <button class="m-l-5" nbButton nbStepperNext status="primary">
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </nb-step>


                <!-- ----- COMUNES ----- -->

                <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>Comunes</ng-template>
                    <p>Test 1</p>
                    <h5>2. Competencias Comunes</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">1. Como contratista de INDERVALLE te encuentras
                                trabajando en un proyecto importante para la entidad. Durante la ejecución del proyecto surgen desafíos que
                                requieren una respuesta
                                alineada con el compromiso con la organización. ¿Cuáles de las siguientes acciones
                                reflejarían un cumplimiento efectivo de la competencia de compromiso con la
                                organización?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc1">
                                <nb-option [value]="4">A. Cumplir estrictamente con las normas y procedimientos
                                    establecidos por INDERVALLE, incluso si ello implica un esfuerzo adicional, para
                                    garantizar el cumplimiento de las metas del proyecto</nb-option>
                                <nb-option [value]="1">B. Priorizar tus necesidades personales y comodidad, incluso si
                                    ello significa no cumplir completamente con las metas y normas de la
                                    organización</nb-option>
                                <nb-option [value]="2">C. Colaborar proactivamente con tus compañeros y con otras áreas
                                    para abordar desafíos comunes, asegurando que el proyecto avance de manera eficiente
                                    y efectiva</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">2. Como contratista de INDERVALLE estás trabajando en
                                un proyecto que requiere colaboración
                                estrecha con un equipo multidisciplinario. ¿Cuáles de las siguientes acciones demuestran
                                un cumplimiento efectivo?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc2">
                                <nb-option [value]="1">A. Cumplir con los compromisos individuales sin considerar el
                                    impacto
                                    en el equipo, ya que cada miembro es responsable de su propia área de
                                    trabajo</nb-option>
                                <nb-option [value]="2">B. Respetar la diversidad de criterios y opiniones del equipo,
                                    buscando soluciones integradas y armónicas para alcanzar las metas institucionales
                                    comunes</nb-option>
                                <nb-option [value]="4">C. Asumir la responsabilidad de planificar acciones que
                                    contribuyan a
                                    los objetivos grupales y motivar a los miembros del equipo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">3. Como contratista de INDERVALLE te enfrentas a un
                                cambio significativo en el
                                equipo y en
                                las actividades del proyecto en el que estás involucrado. ¿Cuáles de las siguientes
                                acciones
                                demuestran una adaptación efectiva, un manejo positivo y constructivo de la
                                situación?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc3">
                                <nb-option [value]="4">A. Facilitar reuniones con el equipo para discutir abiertamente
                                    las
                                    preocupaciones sobre el cambio, identificar soluciones y colaborar en la
                                    implementación
                                    de nuevas formas de trabajo</nb-option>
                                <nb-option [value]="1">B. Aceptar de inmediato y sin cuestionamientos las nuevas
                                    decisiones y
                                    objetivos, evitando cualquier expresión de desacuerdo</nb-option>
                                <nb-option [value]="2">C. Promover la adaptación del grupo a las nuevas condiciones,
                                    proporcionando recursos y apoyo para facilitar una transición suave</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">4. Como contratista de INDERVALLE te encuentras
                                trabajando en un proyecto que
                                requiere estar
                                al tanto de las últimas regulaciones y tecnologías en tu campo. ¿Cuál de las siguientes
                                acciones demuestra un compromiso efectivo con la actualización de conocimientos y el
                                aprendizaje
                                continuo?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc4">
                                <nb-option [value]="2">A. Asistir ocasionalmente a sesiones de capacitación programadas
                                    por
                                    la entidad, pero no buscar activamente otras fuentes de información fuera de estas
                                    instancias</nb-option>
                                <nb-option [value]="1">B. Esperar a que la administración pública indique directamente
                                    los
                                    cambios necesarios, sin buscar información por tu cuenta</nb-option>
                                <nb-option [value]="4">C. Gestionar activamente tus propias fuentes de información
                                    confiable,
                                    participar de manera proactiva en eventos informativos y de capacitación, y
                                    compartir
                                    saberes y habilidades con tus compañeros</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">5. Como contratista de INDERVALLE te enfrentas a un
                                proyecto crucial con objetivos
                                ambiciosos. ¿Cuál de las siguientes acciones demuestra un compromiso efectivo con la
                                realización de funciones y el cumplimiento de compromisos organizacionales?<span
                                    class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc5">
                                <nb-option [value]="1">A. Adoptar medidas para minimizar riesgos, pero sin establecer
                                    objetivos específicos ni diseñar estrategias detalladas para la consecución de los
                                    resultados</nb-option>
                                <nb-option [value]="2">B. Plantear estrategias generales para alcanzar los resultados
                                    esperados, sin trabajar con base en objetivos claramente establecidos</nb-option>
                                <nb-option [value]="4">C. Diseñar objetivos claramente establecidos, utilizar
                                    indicadores
                                    para medir y comprobar los resultados, adoptar medidas para minimizar riesgos y
                                    plantear
                                    estrategias detalladas para alcanzar o superar los resultados esperados</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">6. Las entidades deben revisar periódicamente los
                                servicios y los trámites con el
                                fin de
                                ajustarlos, renovarlos y cambiarlos. En este caso se estaría haciendo uso de las
                                competencias de:<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="cc6">
                                <nb-option [value]="4">A. La innovación y la orientación al usuario y al
                                    ciudadano</nb-option>
                                <nb-option [value]="1">B. Confiabilidad técnica</nb-option>
                                <nb-option [value]="2">C. Confiabilidad técnica, orientación al usuario y al ciudadano
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <button nbButton nbStepperPrevious><nb-icon icon="arrow-back-outline"></nb-icon></button>
                    <button class="m-l-5" nbButton nbStepperNext status="primary">
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </nb-step>

                <!-- ----- ESPECÍFICAS ----- -->

                <nb-step [label]="labelThree">
                    <ng-template #labelThree>Específicas</ng-template>
                    <p>Test 1</p>
                    <h5>3. Competencias Específicas</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">1. Como Contratista en INDERVALLE te enfrentas a un
                                escenario en el que la ejecución de la
                                planeación anual se ve obstaculizada debido a cambios inesperados en el entorno. Ante
                                esta
                                situación, ¿cuál de las siguientes acciones demuestra un cumplimiento efectivo dentro de
                                tus
                                acciones?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce1">
                                <nb-option [value]="2">A. Presentar nuevas estrategias ante aliados y superiores, sin
                                    considerar la participación del equipo en la identificación y solución de
                                    obstáculos</nb-option>
                                <nb-option [value]="1">B. Mantener la planeación anual intacta, ignorando los obstáculos
                                    y esperando a que el equipo resuelva las dificultades por sí mismo</nb-option>
                                <nb-option [value]="4">C. Adoptar alternativas a la planeación anual, involucrando al
                                    equipo, aliados y superiores para identificar y superar los obstáculos, manteniendo
                                    el enfoque en el logro de objetivos</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">2. Como parte del equipo de los Programas Deportivos,
                                Recreativos y de Actividad Física en
                                INDERVALLE, te encuentras liderando un equipo con diversos desafíos. ¿Cuáles de las
                                siguientes acciones demuestran un cumplimiento efectivo de las funciones establecidas
                                para
                                esta posición?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce2">
                                <nb-option [value]="2">A. Traducir la visión y comprometer al equipo en un entorno
                                    participativo y de toma de decisiones, y Brindar apoyo y motivar al equipo en
                                    momentos
                                    de adversidad</nb-option>
                                <nb-option [value]="1">B. Formar equipos y delegar responsabilidades en función de las
                                    competencias, el potencial y los intereses de los miembros del equipo, y Fomentar la
                                    comunicación clara y concreta en un entorno de respeto</nb-option>
                                <nb-option [value]="4">C. Traducir la visión y comprometer al equipo en un entorno
                                    participativo y de toma de decisiones, brindar apoyo y motivar al equipo en momentos
                                    de adversidad, y fomentar la comunicación clara y concreta en un entorno de respeto
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">3. Imagina que como parte del equipo de los Programas
                                Deportivos, Recreativos y de Actividad
                                Física en INDERVALLE, te enfrentas a una situación en la que debes diseñar un nuevo
                                programa
                                de entrenamiento para un grupo diverso de participantes, cada uno con diferentes niveles
                                de
                                habilidad y necesidades específicas. Además, el programa debe cumplir con los estándares
                                de calidad establecidos por la entidad.
                                Durante la planificación, te das cuenta de que ha habido avances significativos en las
                                metodologías de entrenamiento en tu área específica. La tecnología ha introducido nuevas
                                herramientas y enfoques que podrían mejorar la efectividad del programa.

                                Ante esta situación, ¿cuál de las siguientes acciones demuestra un cumplimiento efectivo
                                de la competencia de Confiabilidad Técnica?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce3">
                                <nb-option [value]="1">A. Emitir conceptos técnicos y juicios que respalden el uso de
                                    las
                                    nuevas metodologías, sin considerar la resistencia potencial de algunos
                                    participantes.
                                </nb-option>
                                <nb-option [value]="4">B. Actualizar tu conocimiento técnico mediante la investigación
                                    de las
                                    últimas tendencias y aplicar las nuevas metodologías de entrenamiento que podrían
                                    mejorar la efectividad del programa</nb-option>
                                <nb-option [value]="2">C. Consultar con tu equipo sobre las nuevas metodologías, pero
                                    finalmente decidir no implementar cambios para evitar posibles problemas de
                                    adaptación
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">4. Realizar de forma frecuente el análisis del medio
                                ambiente externo, en lo posible apoyado
                                en cifras y datos recientes con el fin de detectar amenazas y oportunidades, les permite
                                a los profesionales de diferentes niveles y de diferentes áreas:<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce4">
                                <nb-option [value]="2">A. Tomar decisiones basadas en evidencias</nb-option>
                                <nb-option [value]="1">B. Minimizar el efecto de las amenazas</nb-option>
                                <nb-option [value]="4">C. Analizar la situación para tomar decisiones</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">5. Imagina que eres parte de un equipo de trabajo en
                                los programas de INDERVALLE y te
                                enfrentas a la tarea de liderar un proyecto que implica la colaboración de diversos
                                miembros
                                del equipo con diferentes competencias y habilidades. Durante la ejecución del proyecto,
                                surgen desafíos inesperados, y es necesario ajustar la distribución de tareas y roles
                                para superarlos y garantizar el éxito del proyecto.
                                En esta situación, ¿cuál de las siguientes acciones demuestra un cumplimiento efectivo
                                de la
                                competencia de Gestión de las personas?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce5">
                                <nb-option [value]="2">A. Asignar tareas específicas a cada miembro del equipo según su
                                    experiencia</nb-option>
                                <nb-option [value]="4">B. Promover la formación de equipos con interdependencias
                                    positivas y
                                    generar espacios de aprendizaje colaborativo, fomentando la comunicación y la
                                    resolución
                                    conjunta de problemas</nb-option>
                                <nb-option [value]="1">C. Organizar los entornos de trabajo de manera fija, sin
                                    facilitar la
                                    rotación de puestos y tareas, para evitar posibles confusiones y mantener la
                                    estabilidad
                                    en el equipo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">6. Como parte del equipo de trabajo dentro de los programas y proyectos de la entidad,
                                te enfrentas a un desafío crucial para mantener la competitividad de la entidad y optimizar
                                el uso de recursos disponibles. Se te ha asignado la tarea de encontrar soluciones
                                innovadoras para aumentar la participación de la comunidad en los programas y proyectos
                                especialmente entre los jóvenes. ¿Cuál de las siguientes acciones demuestra un cumplimiento efectivo
                                para lograrlo?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce6">
                                <nb-option [value]="1">A. Organizar eventos deportivos regulares sin considerar la
                                    introducción de elementos innovadores que puedan atraer a una audiencia más amplia
                                </nb-option>
                                <nb-option [value]="2">B. Realizar un estudio exhaustivo de las tendencias actuales y
                                    las
                                    preferencias de la comunidad para identificar oportunidades de innovación en la
                                    oferta
                                    de programas deportivos, recreativos y de actividad física</nb-option>
                                <nb-option [value]="4">C. Buscar activamente nuevas tecnologías y herramientas digitales
                                    que
                                    puedan mejorar la experiencia de los participantes en los programas deportivos y
                                    aumentar su compromiso</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="" style="text-align: justify;">7. Eres parte del equipo de trabajo en los programas y proyectos de la entidad y te
                                encuentras liderando un proyecto de expansión de las iniciativas deportivas desde un enfoque
                                diferencial. Tu tarea es garantizar que el personal a tu cargo esté preparado para abordar
                                los desafíos únicos de este enfoque y lograr una implementación exitosa del proyecto.
                                En esta situación, ¿cuál de las siguientes acciones demuestra un cumplimiento en esta
                                situación?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ce7">
                                <nb-option [value]="2">A. Delegar todas las responsabilidades relacionadas con la expansión en los líderes de equipo proporcionando orientación o apoyo adicional</nb-option>
                                <nb-option [value]="1">B. Revisar las necesidades individuales y potencialidades del personal, centrándose exclusivamente en los aspectos técnicos del proyecto</nb-option>
                                <nb-option [value]="4">C. Identificar y desarrollar el talento humano a tu cargo, asignando roles específicos que aprovechen sus habilidades y conocimientos para abordar los desafíos específicos de las metodologías para abordar la población desde este enfoque</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <button nbButton nbStepperPrevious><nb-icon icon="arrow-back-outline"></nb-icon></button>
                    <button class="m-l-5" nbButton nbStepperNext status="primary">
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </nb-step>

                <!-- ----- MESQUITE ----- -->

                <nb-step [label]="labelFour">
                    <ng-template #labelFour>Mesquite</ng-template>
                    <p>Test 1</p>
                    <h5>4. Test de Mesquite</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">1. Te encuentras en una reunión familiar o con amigos y pronto notas que la
                                conversación ha
                                elevado el nivel de la voz y que los participantes comienzan a enojarse. Sabiendo que
                                conoces muy bien a ambas partes, tú ¿qué haces?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm1">
                                <nb-option [value]="3">A. Intentas cambiar de tema</nb-option>
                                <nb-option [value]="">B. No haces nada</nb-option>
                                <nb-option [value]="4">C. Tratas de llamar a una de las partes en privado para evitar
                                    que la discusión salga de control</nb-option>
                                <nb-option [value]="'0'">D. Continúas comiendo y bebiendo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">2. ¿Crees que eres una persona a la que le cuesta expresar lo que le pasa?<span
                                    class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm2">
                                <nb-option [value]="'0'">A. Siempre</nb-option>
                                <nb-option [value]="1">B. Casi siempre</nb-option>
                                <nb-option [value]="3">C. Casi nunca</nb-option>
                                <nb-option [value]="4">D. Nunca</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">3. Una persona que se siente angustiada y triste debe:<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="tm3">
                                <nb-option [value]="'0'">A. Ocultar lo que siente</nb-option>
                                <nb-option [value]="2">B. Decir lo que siente</nb-option>
                                <nb-option [value]="4">C. Decir lo que siente e intentar resolverlo</nb-option>
                                <nb-option [value]="'0'">D. No debe decir nada a nadie para que no se rían de
                                    él/ella</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">4. Un amigo se ha enojado injustamente contigo, tú:<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm4">
                                <nb-option [value]="4">A. Hablas con él en privado para preguntarle qué le ha
                                    sucedido</nb-option>
                                <nb-option [value]="'0'">B. Te ocultas de él para no hablarle. Prefieres quedarte con la
                                    duda de lo que le ha ofendido</nb-option>
                                <nb-option [value]="1">C. Durante la noche recuerdas lo ocurrido y sufres</nb-option>
                                <nb-option [value]="2">D. Le preguntas a un amigo en común si sabe las razones del enojo
                                    de tu amigo contigo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">5. Para ti, padres e hijos deben:<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm5">
                                <nb-option [value]="'0'">A. Esconder sus sentimientos y/o pensamientos</nb-option>
                                <nb-option [value]="4">B. Deben hablar entre ellos sobre lo que creen necesario sin
                                    límites</nb-option>
                                <nb-option [value]="2">C. Los padres nunca deben hablar con los hijos de sus angustias o
                                    problemas pero los hijos sí deben hacerlo</nb-option>
                                <nb-option [value]="'0'">D. Nunca te lo habías preguntado y no sabes qué
                                    responder</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">6. Cuando tienes que aguardar a que otros terminen de hablar, tú:<span
                                    class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm6">
                                <nb-option [value]="'0'">A. Te impacientas</nb-option>
                                <nb-option [value]="2">B. Comienzas a caminar ansiosamente</nb-option>
                                <nb-option [value]="4">C. Aguardas a que terminen y das tu opinión o dices aquello que
                                    tengas que decir</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">7. Cuando has cometido un error, tú:<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm7">
                                <nb-option [value]="2">A. Lo sabes porque tu conciencia te lo dice</nb-option>
                                <nb-option [value]="'0'">B. No sientes nada malo</nb-option>
                                <nb-option [value]="4">C. Te arrepientes y pides perdón a quien corresponda</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">8. Un amigo tuyo llega a la escuela completamente desconsolado y llorando. Tú ¿qué
                                haces?<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="tm8">
                                <nb-option [value]="'0'">A. Solamente le miras</nb-option>
                                <nb-option [value]="2">B. Te sientas a tu lado y simplemente aguardas a que él te
                                    hable</nb-option>
                                <nb-option [value]="4">C. Le preguntas qué le ha pasado y esperas a qué el responda. Si
                                    no lo hace, simplemente colocas tu brazo en su hombro en señal de apoyo y
                                    comprensión</nb-option>
                                <nb-option [value]="1">D. Le preguntas insistentemente cada 5 minutos qué es lo que le
                                    ocurre</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <button nbButton nbStepperPrevious><nb-icon icon="arrow-back-outline"></nb-icon></button>
                    <button class="m-l-5" nbButton nbStepperNext status="primary">
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </nb-step>

                <!-- ----- COMPORTAMIENTO ----- -->

                <nb-step [label]="labelFive">
                    <ng-template #labelFive>Comportamiento</ng-template>
                    <p>Test 1</p>
                    <h5>5. Comportamiento</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">1. Tengo dificultades de concentración para memorizar cosas<span class="req">
                                    *</span></p>
                            <nb-select fullWidth formControlName="ayd1">
                                <nb-option [value]="4">A. Ninguna</nb-option>
                                <nb-option [value]="2">B. Leve</nb-option>
                                <nb-option [value]="1">C. Moderada</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">2. ¿Me siento preocupado(a), temoroso(a), irritable?<span class="req"> *</span>
                            </p>
                            <nb-select fullWidth formControlName="ayd2">
                                <nb-option [value]="4">A. Ninguna</nb-option>
                                <nb-option [value]="2">B. Leve</nb-option>
                                <nb-option [value]="1">C. Moderada</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">3. Por la mañana es cuando me siento mejor<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="ayd3">
                                <nb-option [value]="1">A. Poco tiempo</nb-option>
                                <nb-option [value]="4">B. Una buena parte del tiempo</nb-option>
                                <nb-option [value]="2">C. La mayor parate del tiempo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p for="">4. Me es fácil tomar decisiones<span class="req"> *</span></p>
                            <nb-select fullWidth formControlName="ayd4">
                                <nb-option [value]="1">A. Poco tiempo</nb-option>
                                <nb-option [value]="2">B. Una buena parte del tiempo</nb-option>
                                <nb-option [value]="4">C. La mayor parate del tiempo</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="test1Form.invalid">
                        <input nbInput fullWidth status="danger" placeholder="Faltan preguntas por responder" [readOnly]="true">
                    </div>
                    <br>
                    <button nbButton nbStepperPrevious class="b-w-115">Regresar
                        <!-- <nb-icon icon="arrow-ios-back-outline"></nb-icon> -->
                    </button>
                    <button class="m-l-5 b-w-115" nbButton status="primary" (click)="save()" [disabled]="test1Form.invalid">Finalizar</button>
                </nb-step>
            </nb-stepper>
        </form>
    </nb-card-body>
</nb-card>