<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col">
                <h5>Post Fortalecimiento</h5>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
                <div class="scroll-container-tables">
                    <div class="table-full-width text-center">
                        <div class="lotti-table shadow p-3 mb-5 rounded">
                            <div class="lotti-row header">
                                <div class="cell b-t-left">Documento</div>
                                <div class="cell">Nombres</div>
                                <div class="cell">Test</div>
                                <div class="cell b-t-right">Fortalecimiento</div>
                            </div>

                            <div class="lotti-row" *ngFor="let enlistment of enlistments">
                                <div class="cell">{{enlistment.cc}}</div>
                                <div class="cell">{{enlistment.names}}</div>
                                <div class="cell">{{enlistment.test}}</div>
                                <div class="cell">
                                    <button nbButton ghost hero status="primary" [routerLink]="['/pages/follow-up/post-strength-update/', enlistment.cc]" [disabled]="enlistment?.status === 'Concluido'">
                                        <nb-icon icon="checkmark-outline"></nb-icon>
                                    </button>
                                    <button *ngIf="enlistment.status === 'Concluido'" nbButton ghost hero status="danger" class="m-l-5" (click)="pdfReport(enlistment.cc)">
                                        <nb-icon icon="file-outline"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!enlistments || enlistments.length === 0" style="text-align: center;">
                <p>No hay información disponible.</p>
            </div>
        </div>
        <strong>Resultados: {{ enlistments?.length }} </strong>
        <div class="row justify-content-between">
            <div class="col-auto">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="size" [maxSize]="3"
                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="nextPage()">
                    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                </ngb-pagination>
            </div>
            <div class="col-auto">
                <nb-select [(selected)]="selectedItem" [(ngModel)]="size" (ngModelChange)="nextPage()">
                    <nb-option [value]="10">Mostrar 10</nb-option>
                    <nb-option [value]="15">Mostrar 15</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <div class="row">
            <div class="col">
                <!-- <button nbButton status="primary" (click)="create(dialog)" style="float: right;">Programar</button> -->
            </div>
        </div>
    </nb-card-footer>
</nb-card>