<nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col">
          <h5>Invitación</h5>
        </div>
      </div>
    </nb-card-header>
  
    <nb-card-body>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
          <div class="scroll-container-tables">
            <div class="table-full-width text-center">
              <div class="lotti-table shadow p-3 mb-5 rounded">
                <div class="lotti-row header">
                  <div class="cell b-t-left">
                    <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAllChecks()" /> <!-- Select all -->
                    Todos
                  </div>
                  <div class="cell">Documento</div>
                  <div class="cell">Contratista</div>
                  <div class="cell">S. Nombre</div>
                  <div class="cell">P. Apellido</div>
                  <div class="cell">S. Apellido</div>
                  <div class="cell">F. Nac</div>
                  <div class="cell">Valor</div>
                  <div class="cell b-t-right">Acciones</div>
                </div>
                <div class="lotti-row" *ngFor="let contractor of contractors">
                  <div class="cell">
                    <input type="checkbox" [(ngModel)]="contractor.selected" (change)="updateSelectAllState()" />
                  </div>
                  <div class="cell">{{ contractor.documento }}</div>
                  <div class="cell">{{ contractor.contratista }}</div>
                  <div class="cell">{{ contractor.invitacion | titlecase }}</div>
                  <div class="cell">{{ contractor.firstSurname | titlecase }}</div>
                  <div class="cell">{{ contractor.secondSurname | titlecase }}</div>
                  <div class="cell">{{ contractor.birthday | date: 'yyyy-MM-dd' }}</div>
                  <div class="cell">{{ contractor.cdp?.valor | currency:'COP':'symbol':'1.0-0' }}</div>
                  <div class="cell">
                    <button nbButton status="danger" size="small" (click)="generate(contractor)" nbTooltip="Descargar PDF" nbTooltipPlacement="bottom">
                      <nb-icon icon="file-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <strong>ARL: {{ collectionSize }} </strong>
      <div class="row justify-content-between">
        <div class="col-auto">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="size" [maxSize]="3"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="nextPage()">
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination>
        </div>
        <div class="col-auto">
          <nb-select [(selected)]="selectedItem" [(ngModel)]="size" (ngModelChange)="nextPage()">
            <nb-option [value]="5">Mostrar 5</nb-option>
            <nb-option [value]="10">Mostrar 10</nb-option>
            <nb-option [value]="15">Mostrar 15</nb-option>
          </nb-select>
        </div>
      </div> -->
    </nb-card-body>
  
    <nb-card-footer>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <button nbButton status="danger" size="small" (click)="generateSelected()">PDFs</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>