<nb-card>
    <nb-card-header>
        Concepto técnico
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="dataForm">
            <br>
            <div class="row">
                <div class="col-12">
                    <label for="" class="label">Concepto técnico</label>
                    <textarea nbInput fullWidth formControlName="technical"></textarea>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col">
                <button nbButton status="primary" class="m-l-10" style="float: right;" (click)="createTechField()"
                    [disabled]="dataForm.invalid">Guardar</button>
                <button nbButton status="basic" style="float: right;" (click)="back()">Volver</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>