<nb-card>
    <nb-card-header>
        Fomento emprende APP
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="dataForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="label">Título</label><br>
                    <input type="text" nbInput fullWidth formControlName="title">
                </div>

                <div class="col-md-6">
                    <label for="" class="label">Responsable</label><br>
                    <input type="text" nbInput fullWidth formControlName="subtitle">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="label">E-mail</label><br>
                    <input type="text" nbInput fullWidth formControlName="mail">
                </div>

                <div class="col-md-6">
                    <label for="" class="label">Dirección</label><br>
                    <input type="text" nbInput fullWidth formControlName="address">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <label for="" class="label">Productos</label><br>
                    <input type="text" nbInput fullWidth formControlName="products" (input)="productsLength($event)">
                    <div *ngIf="remainingCharacters !== undefined" style="color: red;">
                        <small>
                          Caracteres: {{ remainingCharacters }} / 200
                        </small>
                      </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-4">
                    <label for="" class="label">Whatsapp</label><br>
                    <input type="number" nbInput fullWidth formControlName="phone">
                </div>

                <div class="col-md-4">
                    <label for="" class="label">Facebook</label><br>
                    <input type="text" nbInput fullWidth formControlName="facebook">
                </div>

                <div class="col-md-4">
                    <label for="" class="label">Instagram</label><br>
                    <input type="text" nbInput fullWidth formControlName="instagram">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="label">Imagen 1</label><br>
                    <input type="file" #fileInput nbInput fullWidth (change)="onFileSelected($event)">
                </div>

                <!-- <div class="col-md-4">
                    <label for="" class="label">Imagen 2</label><br>
                    <input type="file" nbInput fullWidth>
                </div> -->

                <!-- <div class="col-md-4">
                    <label for="" class="label">Imagen 3</label><br>
                    <input type="file" nbInput fullWidth>
                </div> -->
            </div>
        </form>
    </nb-card-body>

    <nb-card-footer>
        <div class="row">
            <div class="col text-center">
                <button nbButton status="primary" [disabled]="dataForm.invalid" (click)="create()">Crear</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

<nb-card>
    <nb-card-header>
        Crear Banner en Inicio
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="homeForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="label">Título Banner</label>
                    <input type="text" nbInput fullWidth formControlName="title">
                </div>
                <div class="col-md-6">
                    <label for="" class="label">Imagen Banner</label><br>
                    <input type="file" nbInput fullWidth (change)="fileForHome($event)">
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col text-center">
                <button nbButton status="primary" [disabled]="homeForm.invalid" (click)="createTheHome()">Crear</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

<nb-card>
    <nb-card-header>
        Crear Evento en Negocios
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="eventForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="label">Nombre Evento</label>
                    <input type="text" nbInput fullWidth formControlName="name">
                </div>
                <div class="col-md-6">
                    <label for="" class="label">Fecha Evento</label><br>
                    <input nbInput fullWidth [nbDatepicker]="dateTimePicker" formControlName="date">
                    <nb-date-timepicker withSeconds #dateTimePicker></nb-date-timepicker>
                </div>
            </div>
            <br>
            <div class="div">
                <div class="row">
                    <div class="col">
                        <label for="" class="label">Descripción del Evento</label>
                        <input type="text" nbInput fullWidth formControlName="event">
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col text-center">
                <button nbButton status="primary" [disabled]="eventForm.invalid" (click)="createTheEvent()">Crear</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

<nb-card>
    <nb-card-header>
        Crear Evento Técnico
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="techForm">
            <div class="row">
                <div class="col-md-4">
                    <label for="" class="label">Nombre Evento</label>
                    <input type="text" nbInput fullWidth formControlName="title">
                </div>
                <div class="col-md-4">
                    <label for="" class="label">Fecha Evento</label><br>
                    <input nbInput fullWidth [nbDatepicker]="dateTimePickera" formControlName="dateTechEvent">
                    <nb-date-timepicker withSeconds #dateTimePickera></nb-date-timepicker>
                </div>
                <div class="col-md-4">
                    <label for="" class="label">Locación Evento</label>
                    <input type="text" nbInput fullWidth formControlName="location">
                </div>
            </div>
            <br>
            <div class="div">
                <div class="row">
                    <div class="col">
                        <label for="" class="label">Descripción del Evento</label>
                        <input type="text" nbInput fullWidth formControlName="description">
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col text-center">
                <button nbButton status="primary" [disabled]="techForm.invalid" (click)="createTechEvent()">Crear</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>