<nb-card>
    <nb-card-header>
        Fomento emprende
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <label for="" class="label">Título</label><br>
                <input type="text" nbInput fullWidth>
            </div>

            <div class="col-md-6">
                <label for="" class="label">Subtítulo</label><br>
                <input type="text" nbInput fullWidth>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="" class="label">Descipción</label><br>
                <input type="text" nbInput fullWidth>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-4">
                <label for="" class="label">Whatsapp</label><br>
                <input type="text" nbInput fullWidth>
            </div>

            <div class="col-md-4">
                <label for="" class="label">Facebook</label><br>
                <input type="text" nbInput fullWidth>
            </div>

            <div class="col-md-4">
                <label for="" class="label">Instagram</label><br>
                <input type="text" nbInput fullWidth>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="" class="label">Imagen 1</label><br>
                <input type="file" nbInput fullWidth>
            </div>

            <div class="col-md-4">
                <label for="" class="label">Imagen 2</label><br>
                <input type="file" nbInput fullWidth>
            </div>

            <div class="col-md-4">
                <label for="" class="label">Imagen 3</label><br>
                <input type="file" nbInput fullWidth>
            </div>
        </div>
    </nb-card-body>
</nb-card>